%div#filters

%table#items
    %thead.columns
        %tr
            %th.tools
            -@columns.each do |key, value|
                -if value[:display]=='show'
                    %th{ :class => key} #{key.capitalize}
    %tbody.new
    %tbody.data

%a#load-more-button Load More

%script#row-template{"type" => "text/template"}
    %td.tools
        %div.delete
        %div.edit
    -@columns.each do |key, value|
        -if value[:display]=='show'
            %td{ :class => key}
                %span.filter

%script#filter-template{"type" => "text/template"}
    %div.filter
        %div.name
            %span.delete X
            %span.name
        %div.value


%script#editor-template{"type" => "text/template"}
    %form#update
        -@columns.each do |key, value|
            .input
                %label{ :for => key } #{key.capitalize}
                -if key == :item
                    %select{ :name => 'item' }
                        -@items.each do |item|
                            -value, text = item
                            %option{:value => value} #{item}
                -elsif key == :method
                    %select{ :name => 'method' }
                        -@methods.each do |method|
                            -value, text = method
                            %option{:value => value} #{method}
                -else
                    %input{ :type => value[:type], :name => key, :step => 'any'}
        .submit
            %input{ :type => "submit", :name => "submit", :value => "submit" }


// %script#editor-template{"type" => "text/template"}
//    %div#row-editor
//        -@columns.each do |key, value|
//            %div.receipt-input
//                %label{ :for => key } #{key.capitalize}
//                %input{ :name=> key}
//        .submit
//            %input{ :type => "submit", :name => "submit", :value => "submit" }
